* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(50deg, #0092f3, #732c91);
}
nav {
  background-color: #333;
  height: max-content;
}
header {
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hero img {
  border-radius: 50%;
  margin-right: 20px;
}

.hero div {
  text-align: left;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer small {
  font-size: 12px;
}
